/* styles.css */



/* This is a comment in CSS
Os códigos para as cores

    Branco: #FFFFFF
    Vermelho: #FF0000


*/
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}


.texto_boas_vindas{
  color: #FF0000;
  justify-content: center;
  font-size: 350%
}




#programacao {
    margin: 40px 0;
    display: flex;
    font-size: 80%;
    flex-direction: column;
    font-size: 20px;
    height: auto
}

.programacao .section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0
}

.section-header .discover {
    color: #ba0214;
    font-family: Ubuntu;
    font-size: 1.6em;
    padding-right: 10px;
    text-transform: uppercase
}

.prog-title {
    background: #111;
    margin-left: -10px;
    font-size: 2.1em;
    line-height: 40px;
    color: #e4e4e4;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.programacao .container {
    display: flex;
    flex-direction: row;
    border-radius: 7px
}

.programacao .left-col {
    display: grid;
    grid-template-rows: 60px repeat(7, 80px);
    border-right: 4px dashed #ccc;
    padding: 0 10px;
    margin-right: 10px
}

.programacao .item {
    color: #F0F0F0;
    font-family: 'Ubuntu Mono';
    font-size: 1.5em;
    font-weight: 700
}

.programacao .right-col {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 10px solid #010101;
    border-radius: 7px;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
    overflow-y: hidden
}

.prog-col {
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: 60px repeat(7, 80px);
    border-right: 10px solid #1a1a1a;
    width: 30vw;
    min-width: 190px
}

.prog-col:last-child {
    border-right: none
}

.prog-header {
    background-color: #333;
    border-bottom: 5px solid #1a1a1a;
    color: #fff;
    font-family: 'Ubuntu Mono';
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.secondary {
    font-weight: 300
}

.prog-item {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: .8em;
    justify-content: center;
    border: 2px solid #ba0214;
    border-radius: 7px;
    padding-left: 7px
}

.prog-item .item-header {
    font-weight: 600
}

.prog-item {
    margin: 5px;
    cursor: pointer;

}


.fotos_veteranos  {
        border-radius: 50%; /* This makes the images rounded */
        width: 200px; /* Adjust as needed */
        height: 200px; /* Adjust as needed */
        margin-left: 150px; /* Adjust as needed */
         /* Adjust as needed */

}

.conjunto_eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.topnav {
  background-color: #ab2020;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #787d7c;
  color: white;
}